<div *ngIf="hero">

  <h2>{{ hero.name | uppercase }} Details</h2>
  <div>
    <span>id: </span>{{hero.id}}
  </div>
  <div>
    <label>name:
      <input [(ngModel)]="hero.name" placeholder="name" />
    </label>
  </div>
  <div>
    <span> Power:</span> {{hero.power}}
  </div> 
  <div *ngIf="over9000()">
    <img src="https://media1.tenor.com/images/5d3022e7d8f6b0e36b86170b676c601c/tenor.gif?itemid=4474083">
  </div>
  <button (click)="save()">save</button>
  <button (click)="goBack()">volver</button>
</div>
